*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    width: 100%;
    height: 140px;
}
html{
    min-height: 100%;
    position: relative;
}
body{
    background-image: linear-gradient(135deg, #00bcb4, #0083b8);
    height: 100%;
}
.menu{
    height: 100px;
    background: #ffffff;
}
.menu ul{
    display: inline-flex;
    font-size: 20px;
    height: 100%;
}
.menu ul li{
    list-style: none;
    margin:  0px;
    color: #b2b1b1;
    cursor: pointer;
    height: 100%;
    line-height: 100px
}
.menu ul li a{
    display: block;
    height: 100%;
    padding: 0 20px;
    color: black;
    text-decoration: none;
    user-drag: none;
    -webkit-user-drag: none;
}
.menu ul li a:hover, a:active{
    background-color: #89ffff; 
}
.logo{
    width: 45px;
    margin-right: 50px;
    margin-left: 30px;
}
.active{
    color: rgb(70, 125, 160) !important;
    font-size: 20px;
}
.banner{
    width: 80%;
    height: 70%;
    top: 25%;
    left: 130px;
    position: absolute;
    color: white;
}
.app-text{
    width: 60%;
    float: left;
    margin-left: -150px
}
.app-text h1{
    font-size: 43px;
    width: 140%;
    position: relative;
    margin-left: 40px;
}
.app-text h2{
    font-size: 20px;
    width: 100%;
    position: relative;
    margin-left: 40px;
}
.app-text p{
    width: 100%;
    font-size: 15px;
    margin: 20px 0 30px 40px;
    line-height: 25px;
    color: #ffffff;
}
.app-picture{
    width: 100%;
    right: 0;
    max-width: 500px;
    margin-right: -10%;
    position: absolute;
    z-index: -1;
    user-drag: none;
    -webkit-user-drag: none;
}
.profile-picture{
    display: block;
    position: relative;
    width: 60px;
    float: right;
    margin-top: -30px;
}
.profile-picture img{
    height: 300px;
    float: right;
    margin-top: 50px;
    margin-right: 0px;
    user-drag: none;
    -webkit-user-drag: none;
}